In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import folium
from sklearn.cluster import DBSCAN

%matplotlib inline

In [3]:
df = pd.read_csv('Image_Customer_List.csv')
df.head(2)

         Date  DistributorCode  ... Latitude IsGPSOn
0  2024-09-26            57604  ...  7.01005       1
1  2024-09-19            57604  ...  7.02792       1

[2 rows x 9 columns]

In [4]:
df.shape

(63254, 9)

In [5]:
df = df.drop_duplicates()

In [6]:
df.shape

(62961, 9)

In [7]:
df[(df['Longitude'] == 0.0) & (df['Latitude'] == 0.0)]

             Date  DistributorCode  ... Latitude IsGPSOn
1516   2024-09-20            71221  ...      0.0       1
1940   2024-09-24            61822  ...      0.0       1
1941   2024-09-25            61822  ...      0.0       1
1942   2024-09-25            61822  ...      0.0       1
1943   2024-09-25            61822  ...      0.0       1
...           ...              ...  ...      ...     ...
62212  2024-09-18            19623  ...      0.0       1
62213  2024-09-11            19623  ...      0.0       1
62290  2024-09-11            65678  ...      0.0       1
62330  2024-09-25            71475  ...      0.0       1
63164  2024-09-25            69802  ...      0.0       1

[1965 rows x 9 columns]

In [14]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [Date, DistributorCode, DistributorName, OutletCode, OutletName, routename, Longitude, Latitude, IsGPSOn]
Index: []

In [15]:
df = df[~((df['Longitude'] == 0.0) & (df['Latitude'] == 0.0))]

In [16]:
df[(df['Longitude'] == 0.0) & (df['Latitude'] == 0.0)]

Empty DataFrame
Columns: [Date, DistributorCode, DistributorName, OutletCode, OutletName, routename, Longitude, Latitude, IsGPSOn]
Index: []

In [17]:
df.shape

(60996, 9)

In [25]:
coordinates = df[['Longitude','Latitude']].values

coords_in_radians = np.radians(coordinates)

In [27]:
dbscan = DBSCAN(eps=0.5, min_samples=5, metric='haversine')
df['cluster'] = dbscan.fit_predict(coords_in_radians)

In [ ]:
plt.figure(figsize=(12, 8))
unique_clusters = df['cluster'].unique()
for cluster in unique_clusters:
    if cluster == -1:  # Noise
        color = 'k'
        label = 'Noise'
    else:
        color = None
        label = f'Cluster {cluster}'
    clustered_data = gps_data[df['cluster']== cluster]
    plt.plot(clustered_data['Longitude'], clustered_data['Latitude'], marker='o', markersize=2, linestyle='-', label=label, alpha=0.6)

plt.xlabel('Longitude')
plt.ylabel('Latitude')
plt.title('Common Paths or Routes Taken')
plt.grid(True)
plt.show()