In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from geopy.distance import geodesic
import numpy as np
import requests
import logging
import folium

%matplotlib inline

In [2]:
df = pd.read_csv('Image_Customer_List.csv')
df.head()

,Date,DistributorCode,DistributorName,OutletCode,OutletName,routename,Longitude,Latitude,IsGPSOn
0,2024-09-26,57604,Sanjeeva Trading-Wattala,SD103807,Udaya St0res,DSR 2 57604 Route 4,79.86539,7.01005,1
1,2024-09-19,57604,Sanjeeva Trading-Wattala,SD103896,Rohitha stors,DSR 1 57604 Route 23,79.89751,7.02792,1
2,2024-09-02,57604,Sanjeeva Trading-Wattala,SD104324,Rajini Hotel,DSR 3 57604 Route 22,79.88688,7.01732,1
3,2024-09-14,57604,Sanjeeva Trading-Wattala,SD104192,Nadun,DSR 2 57604 Route 3,79.87584,7.00320,1
4,2024-09-03,57604,Sanjeeva Trading-Wattala,SD104134,jayasinghe stores,DSR 2 57604 Route 23,79.87367,6.98205,1

In [3]:
df.shape

(63254, 9)

In [4]:
len(df['OutletName'].unique())

46233

In [8]:
df= df.drop_duplicates()

In [9]:
df.shape

(62961, 9)

In [10]:
api_key = 'AIzaSyC3rnV7e1vSIedcUAhxRF5LrxDQHEezORA'

In [16]:
def date_time_formating(series):
    return pd.to_datetime(series, format='%Y-%m-%d %p')

df['Date'] = date_time_formating(df['Date'])

In [21]:
ind = [i for i in range(len(df))]
segments = []
DISTANCE = 20

In [22]:
for i in ind:
    seg = []
    seg.append(i)
    for j in ind[i+1:]:
        point1 = (df.iloc[i]['Latitude'], df.iloc[i]['Longitude'])
        point2 = (df.iloc[j]['Latitude'], df.iloc[j]['Longitude'])
        distance = geodesic(point1, point2).meters

        if distance < DISTANCE:
            seg.append(j)
            ind.remove(j)

    segments.append(seg)

In [4]:
geodesic((81.70878,7.72577), (81.71133,7.72587)).meters

284.7643546305633